
@{
    ViewBag.Title = "About";
}

<div class="row">
    <div class="col-xs-12">
        <h3>About Section</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        This CRM software was created as an assessment test to showcase my abilities in creating a server that could interact with a user by providing web pages to allow end users to interact with specific areas of a University in a CRUD format
    </div>
</div>

