
@{
    ViewBag.Title = "Contact";
}

<div class="row">
    <div class="col-xs-12">
        <h3>Contact</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p>(812) 459-7361</p>
        <p><a href="mailto:atmiller1150@gmail.com?subject = Feedback&body = Message">Send Feedback or Questions</a></p>
        <p><a href="https://www.linkedin.com/in/atmiller1150">My LinkedIn Page</a></p>
    </div>
</div>

